* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
  --width-container: 1110px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ======== Common ======== */
a {
  text-decoration: none;
}

.content {
  width: var(--width-container);
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  border-radius: 8px;
  text-align: center;
  background: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 18px 16px;
}

.btn:hover {
  opacity: 0.9;
}

/* ======== Header ======== */
.header {
  position: relative;
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 5px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  color: #4f5361;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.18px;
}

.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.hero-cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - var(--width-container)) / 2 - 100px);
}

/* ======== Clients ======== */
.clients {
  margin-top: 122px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .images {
  margin-top: 70px;
  display: flex;
  gap: 74px;
  align-items: center;
}

/* ======== Guides ======== */
.guides {
  margin-top: 174px;
}

.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
}

.guides .sub-title::before {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}
