* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.content {
  width: 111rem;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 9.8rem;
  border-radius: 0.8rem;
  text-align: center;
  background: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 1.8rem 1.6rem;
}

.btn:hover {
  opacity: 0.9;
}
/* Header */
.header {
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 3.8rem;
}

.navbar ul {
  display: flex;
  margin-left: 5rem;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 0.8rem 1.4rem;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 1.3rem 1.6rem;
  margin-left: 1.8rem;
}

.hero {
  margin-top: 13rem;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.018rem;
}

.hero .title {
  margin-top: 0.8rem;
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.hero .desc {
  margin-top: 3rem;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.hero-cta {
  min-width: 170px;
  margin-top: 4rem;
}
