* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
  --width-container: 1110px;
  --line-clamp: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ======== Common ======== */
a {
  text-decoration: none;
}

.content {
  width: var(--width-container);
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  border-radius: 12px;
  text-align: center;
  background: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 18px 16px;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 1);
  overflow: hidden;
}

/* ======== Header ======== */
.header {
  position: relative;
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 5px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  color: #4f5361;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.18px;
}

.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.hero-cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - var(--width-container)) / 2 - 100px);
}

/* ======== Clients ======== */
.clients {
  margin-top: 79px;
  padding: 43px 0 41px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .images {
  display: flex;
  gap: 74px;
  align-items: center;
  margin-top: 70px;
}

/* ======== Guides ======== */
.guides {
  margin-top: 40px;
  padding: 79px 0;
}

.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
}

.guides .sub-title::before {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

.guide-list {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

.guide-item .link {
  display: inline-block;
  color: #0689ff;
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 600;
}

.guide-item .arrow {
  margin-left: 8px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* ======== Featured ======== */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
}

.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}

.featured .link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0689ff;
  font-size: 18px;
  font-weight: 600;
}

.featured .list {
  display: flex;
  gap: 30px;
}

.featured .item {
  margin-top: 70px;
  background: #fff;
  border-radius: 12px;
  flex: 1;
}

.featured .item .link {
  color: #000339;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.featured .item .body {
  padding: 17px 20px;
}

.featured .item .title a {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  word-break: break-all;
}

.featured .item .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  word-break: break-all;
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .label {
  margin: 0 23px 0 8px;
}

.featured .item .label:last-child {
  margin-right: 0;
}

.featured .label {
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.14px;
}

/* ======== Stats ======== */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .content {
  width: 1017px;
}

.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block img {
  width: 400px;
  height: 460px;
  display: block;
  margin-left: auto;
  border-radius: 12px;
  object-fit: cover;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .sub-title {
  position: relative;
  padding-bottom: 20px;
  width: 269px;
  color: #000339;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.28;
}

.stats .sub-title::before {
  content: "";
  position: absolute;
  top: -10px;
  display: block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.stats .desc {
  width: 309px;
  color: #5a6473;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}
